.have-question {
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
  color: #fff;
  background-color: #ff5004;
}

.have-question__title {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
}

.have-question .btn {
  width: 236px;
  padding-top: 7px;
  padding-right: 52px;
  padding-bottom: 7px;
  padding-left: 52px;
  border-radius: 14px;
}