@font-face { 
  font-family: 'Intro'; 
  src: url('../../fonts/intro.woff2') format('woff2'),
       url('../../fonts/intro.woff') format('woff');
  font-weight: normal;
}

/*@font-face { 
  font-family: 'RobotoBlackItalic'; 
  src: url('../../fonts/roboto-blackitalic-webfont.woff2') format('woff2'),
       url('../../fonts/roboto-blackitalic-webfont.woff') format('woff'); 
}

@font-face { 
  font-family: 'RobotoBlack'; 
  src: url('../../fonts/roboto-black-webfont.woff2') format('woff2'),
       url('../../fonts/roboto-black-webfont.woff') format('woff'); 
}

@font-face { 
  font-family: 'RobotoBoldItalic'; 
  src: url('../../fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
       url('../../fonts/roboto-bolditalic-webfont.woff') format('woff'); 
}

@font-face { 
  font-family: 'RobotoBold'; 
  src: url('../../fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('../../fonts/roboto-bold-webfont.woff') format('woff'); 
}

@font-face { 
  font-family: 'RobotoItalic'; 
  src: url('../../fonts/roboto-italic-webfont.woff2') format('woff2'),
       url('../../fonts/roboto-italic-webfont.woff') format('woff'); 
}

@font-face { 
  font-family: 'RobotoLightItalic'; 
  src: url('../../fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
       url('../../fonts/roboto-lightitalic-webfont.woff') format('woff'); 
}

@font-face { 
  font-family: 'RobotoLight'; 
  src: url('../../fonts/roboto-light-webfont.woff2') format('woff2'),
       url('../../fonts/roboto-light-webfont.woff') format('woff'); 
}

@font-face { 
  font-family: 'RobotoMedium'; 
  src: url('../../fonts/roboto-medium-webfont.woff2') format('woff2'),
       url('../../fonts/roboto-medium-webfont.woff') format('woff'); 
}

@font-face { 
  font-family: 'RobotoMediumItalic'; 
  src: url('../../fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
       url('../../fonts/roboto-mediumitalic-webfont.woff') format('woff'); 
}

@font-face { 
  font-family: 'RobotoRegular'; 
  src: url('../../fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../../fonts/roboto-regular-webfont.woff') format('woff'); 
}

@font-face { 
  font-family: 'RobotoThin'; 
  src: url('../../fonts/roboto-thin-webfont.woff2') format('woff2'),
       url('../../fonts/roboto-thin-webfont.woff') format('woff'); 
}*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

.page-body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 23px;
  background-color: #fff;
  color: #000;
}

